* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: #f4f4f4;
}

.container {
    display: flex;
    min-height: 100vh;
}

.sidebar {
    width: 260px;
    background: #060038;
    color: white;
    padding: 25px;
}

.sidebar h2 {
    margin-bottom: 40px;
}

.sidebar ul {
    list-style: none;
}

.sidebar li {
    margin: 20px 0px;
}

.sidebar a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}


.content {
    flex: 1;
    padding: 40px;
}

.content h1 {
    margin-bottom: 20px;
}

.content .cards {
    display: flex;
    gap: 25px;
    margin-bottom: 20px;
}

.content .card {
    flex: 1;
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 15px;
}

.card h3 {
    font-size: 24px;
}

.card p {
    font-size: 22px;
}

.content h2 {
    margin-bottom: 20px;
}


/* List users css */
table {
    width: 100%;
    border-collapse: collapse;
    background: #fff;
}

th {
    background: #eee;
    padding: 15px;
}

td {
    padding: 15px;
    border-bottom: 1px solid #ddd;
}

td:hover {
    background: #eee;
}